body {
  display: flex;
  margin: 0;
}

video {
  max-width: 100%;
}

body > div {
  flex: 1;
  padding: 10px;
}

#you {
  background-color: bisque;
}

#others {
  background-color: azure;
}

#events {
  background-color: bisque;
}
